{% extends 'base.html' %}
{% block title %}<title>顯示一筆資料</title>{% endblock %}
{% block content %}
<h2>顯示 student 資料表一筆資料 {{ errormessage }}</h2>
<div class="record">
	<p><strong>編號：</strong>{{ unit.id }}</p>
	<p><strong>姓名：</strong>{{ unit.cName }}</p>
	<p><strong>性別：</strong>{{ unit.cSex }}</p>
	<p><strong>生日：</strong>{{ unit.cBirthday }}</p>
	<p><strong>郵件帳號：</strong>{{ unit.cEmail }}</p>
	<p><strong>電話：</strong>{{ unit.cPhone }}</p>
	<p><strong>地址：</strong>{{ unit.cAddr }}</p>
</div>
{% endblock %}